section.about-me {
  background: linear-gradient(180deg, #03112b 0%, #08192a 100%);
  display: flex;
  flex-wrap: wrap-reverse;
  .img-wrap {
    height: auto;
    width: 500px;
    padding: 1rem;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .text-wrap {
    width: 800px;
    padding: 1rem;
    margin: auto;
    h1 {
      color: #fce480;
      @media #{$xmd} {
        font-size: 3rem;
      }
    }
    h3 {
      @media #{$xmd} {
        font-size: 2rem;
      }
    }
    p {
      @media #{$xmd} {
        font-size: 1.3rem;
      }
    }
  }
}
